<html>
  <%- include(head, {title: page.title}) %>
  <body>
    <div class="container">
      <h1><%= page.title %></h1>
      <h3><%= page.description %></h3>
      <p><i><%= page.date %></i></p>
      <p>
        <strong>Tags:</strong> <% page.tags.forEach(tag => { %>
        <u>#<%- tag %></u>
        <% }); %>
      </p>
      <hr />
      <div class="page-body"><%- page.body %></div>
      <hr />
      <div class="footer">
        <p>
          Visit
          <a href="index.html">HOME</a>
          for a listing of <%= pages.length.toString() %> pages
        </p>
      </div>
    </div>
  </body>
</html>
