<html>
  <%- include(head, {title: page.title}) %>
  <body>
    <content>
      <h1><%= page.title %></h1>
      <h3><%= page.description %></h3>
      <p><i><%= page.date %></i></p>
      <p>
        <strong>Tags:</strong> <% page.tags.forEach(tag => { %>
        <u>#<%- tag %></u>
        <% }); %>
      </p>
      <hr />
      <div class="page-body"><%- page.body %></div>
      <hr />
      <caption>
        See
        <a href="index.html">HOME</a>
        for a listing of <%= pages.length.toString() %> pages
      </caption>
    </content>
  </body>
</html>
